html,
body {
    height: auto;
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgb(11, 157, 255), rgb(11, 48, 255), rgb(27, 0, 70));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

body {
    margin: 0;
}

#app {
    left: 0;
    top: 20px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s ease;
}

#info-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgb(27, 0, 70);
    display: flex;
    flex-direction: row;
    text-align: center;
    place-content: center;
    transition: all 0.3s ease;
}

.footer button {
    position: relative;
    top: 5px;
    width: 30px;
    text-align: center;
    margin: 0 10px;
    background: none;
    height: 30px;
    place-content: center;
    background: black;
    align-items: center;
    display: flex;
}

::-webkit-scrollbar {
    width: 5px;
    background: linear-gradient(to bottom, rgb(11, 157, 255), rgb(11, 48, 255), rgb(27, 0, 70));
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background: linear-gradient(to bottom, rgb(11, 157, 255));
}

.footer button:hover {
    background: none;
}

.footer button:hover .footeri {
    border: 0.5px solid #007bff;
    transition: all 0.3s ease;
}

.active .footeri {
    border: 0.5px solid #007bff;
    transition: all 0.3s ease;
}

.footeri {
    border: 0.5px solid white;
    padding: 10px;
    background: #007bff;
    border-radius: 4px;
    transition: all 0.3s ease;
}

input,
button {
    display: block;
    width: 80%;
    place-self: center;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

button {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.863);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.514),
        inset 0 4px 20px rgba(255, 255, 255, 0.486);
}

h1,
h2 {
    text-align: center;
    color: white;
}

.device-item {
    background: #025adf;
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.device-item img {
    width: 50px;
    height: 50px;
}

.device-item:hover {
    background: #0066ff;
    cursor: pointer;
    transition: all 0.3s ease;
}



#add-device-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.356);
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.no-overflow {
    overflow: hidden;
}

.password-container {
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: center;
    background: none;
    width: 100%;
    position: relative;
}

.password-container input {
    padding-right: 30px;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000;
    font-size: 18px;
}

@media screen and (max-width: 430px) {
    .toggle-password {
        right: 50px;
    }
}

#add-device-modal input {
    position: relative;
    text-align: center;
    border: none;
}

.logoutbtn {
    position: relative;
    top: 20px;
    transform: translateY(-50%);
}

#add-device-modal input:active,
#add-device-modal input:focus {
    border: none;
    outline: none;
}

#add-error {
    color: rgb(219, 12, 12);
    text-align: center;
    font-weight: bold;
}

.units {
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.units label {
    position: relative;
    width: 100px;
    height: 20px;
    color: white;
    place-content: center;
    align-items: center;
    text-align: left;
    transition: all 0.3s ease;
}

.box,
.box1 {
    position: absolute;
    margin-left: 0px;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    place-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
}


.check,
.check1 {
    opacity: 0;
    display: flex;
    transition: all 0.3s ease;
    place-self: center;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

#fahrenheit:checked~.icon1 .box1 .check1 {
    opacity: 1;
}

#celsius:checked~.icon .box .check {
    opacity: 1;
}

p {
    color: white;
}

.adddevicebtn {
    position: fixed;
    top: 0px;
    background: none;
    width: 30px;
    right: 20px;
}

.adddevicebtn:hover {
    background: none;
}

.back {
    position: fixed;
    width: 30px;
    left: 20px;
    top: 0px;
    background: none;
}

.back:hover {
    background: none;
}

.backicon {
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
    font-size: 20px;
}

.back:hover .backicon {
    color: rgb(163, 163, 163);
}

.addicon {
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
    font-size: 20px;
}

.adddevicebtn:hover .addicon {
    color: rgb(163, 163, 163);
    transform: rotate(90deg);

}

#login-screen,
#main-screen,
#settings-screen,
#info-screen,
#add-device-modal,
#footer,
#addevicebtn {
    transition: all 0.3s ease;
}

#ptr-container {
    position: fixed;
    top: -80px;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000000000000000000000;
    transition: top 0.2s ease;
}

.ptr-spinner {
    width: 26px;
    height: 26px;
    border: 3px solid #444;
    border-top: 3px solid #00ffcc;
    border-radius: 50%;
    animation: ptr-spin 1s linear infinite;
}

@keyframes ptr-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



#device-img-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    object-fit: cover;
}

.settings-section {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.settings-section h3 {
    color: white;
    text-align: left;
    margin-bottom: 10px;
}

.profile-image-container {
    position: relative;
    width: fit-content;
    margin: auto;
}

.upload-label {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #007bff;
    color: white;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-label:hover {
    background: #0056b3;
}

#help {
    padding: 40px 20px;
}

#help h2 {
    margin-bottom: 20px;
}

#crop-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    transition: all 0.3s ease;
}

.crop-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
}

#crop-img {
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    user-select: none;
}


.add-device {
    border-radius: 12px;
    padding: 20px;
    max-width: 900px;
    margin: 40px auto;
    place-self: center;
    align-self: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

.add-device::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
        inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 0.6;
    z-index: -1;
    filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

.device-layout {
    display: flex;
    flex-direction: row;
}

#setupBtn {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

#setupBtn:hover {
    background-color: #0056b3;
}

.close-add-device-btn {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.noaccountbtn {
    place-self: center;
    display: flex;
    flex-direction: row;
    max-width: 400px;
    text-align: center;
    margin: 0;
}

.noaccountbtn button {
    background: none;
    width: 100px;
    margin: 0;
    margin-left: -10px;
    margin-top: -8px;
    color: white;
    text-decoration: underline;
}

.accountbtn {
    place-self: center;
    display: flex;
    flex-direction: row;
    max-width: 400px;
    text-align: center;
    margin: 0;
}

.accountbtn button {
    background: none;
    width: 100px;
    margin: 0;
    margin-left: -10px;
    margin-top: -8px;
    color: white;
    text-decoration: underline;
}

#profile-img-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    object-fit: cover;
}

.settings-header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    margin-bottom: 10px;
}

.header-title {
    flex: 1;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.profile-card {
    margin: 0 16px 20px;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #000;
}

.profile-image-container {
    position: relative;
    width: 100px;
    height: 100px;
}

#profile-img-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    flex: 1;
}

.profile-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.profile-title {
    color: #666;
    font-size: 15px;
}

.chevron {
    font-size: 20px;
    color: #999;
}

.section-label {
    padding: 0 24px;
    margin: 24px 16px 8px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.7);

}

.list-card {
    margin: 10px 16px;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    color: #000;
    cursor: pointer;
}

.list-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
        inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 0.6;
    z-index: -1;
    filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 20px 16px 20px;
    height: 5px;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: all 0.3s ease;
    list-style: decimal;
    gap: 20px;

}

.list-item:last-child {
    border-bottom: none;
}

.list-item:hover {
    background: rgba(0, 0, 0, 0.03);
}

.list-icon {
    width: 24px;
    font-size: 20px;
    color: #ffffff;
}

.list-text {
    flex: 1;
    margin-left: 16px;
    font-size: 17px;
    font-weight: 500;
    color: #000;
}

.deactivate .list-text,
.deactivate .list-icon {
    color: #ff3b30;
}

.toggle-track {
    width: 51px;
    height: 31px;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
    border-radius: 999px;
    flex-shrink: 0;
}

.toggle-knob {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 27px;
    height: 27px;

    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.passwordtxt {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
}

.resetbtn {
    max-width: 100px;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(71, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    backdrop-filter: blur(1px);
    box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
        inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 1;
}


@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.backbtn {
    rotate: 180deg;
    width: 40px;
    height: 40px;
    place-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 10px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
}



.backbtn:hover {
    background: none;
}

.backbtn .chevron {
    color: rgb(0, 0, 0);
}

.deleteacc {
    color: red;
    text-align: left;
}

.delteaccicon {
    color: red;
}

.popup {
    width: 350px;
    color: white;
    padding: 20px;
    height: 200px;
    padding: 20px;
    top: 0;
    place-self: center;
    align-self: center;
    display: flex;
    justify-self: center;
    position: fixed;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
    z-index: 300;
}

.overpopup {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    position: fixed;
    background: rgba(173, 173, 173, 0.5);
    z-index: 1;
}

.closepopup {
    position: fixed;
    bottom: 0;
    width: 90%;
    text-align: center;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
}